[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
faiss-cpu = "*"
pypdf = "*"
langchain-community = "*"
langchain-huggingface = "*"

[dev-packages]

[requires]
python_version = "3.11"
